<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

<style>
span, a, h2, p {
   font-weight:bold; 
   font-family: 'Nanum Gothic', sans-serif;
}
</style>

<!-- Main -->
<div id="main-wrapper">
   <div id="main">
      <div class="container">
         <div class="row">

            <section>
               <a href="#" class="image full"><img src="assets/images/pics02.jpg" alt=""></a>
            </section>
        
            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
               <section>
                  <header>
                     <h2>건강검진 전일 준비사항</h2>
                     <span class="byline">숙지하시고 안전한 건강검진을 받도록 합시다.</span>
                     <br>

                     <p>정확한 검사를 위해서 건강검진을 위해 <span class="byline2">2 ~3일 전부터 육류, 음주 및 과로를 삼가</span>합니다.</p>
                     <br>

                     <span class="byline4">1) 금식</span>
                     <br>
                     <br>
                     <p><span class="byline3">(오전 검진)</span></p>
                     <p>하루 전 저녁식사는 8시 이전에 가볍게 드시고, </p>
                     <p><span class="byline2">10시 이후로 반드시 금식(물·담배·껌·은단 포함)</span>합니다.</p>
                     <p>술·육류·기름진 음식 등은 검사 결과에 영향을 줄 수 있으므로 금합니다.</p>
                     <br>
                     <p><span class="byline3">(오후 검진)</span></p>
                     <p>검진 전일 저녁 8시 이전에 식사 하시고, 자정 이후에는 금식 하도록 합니다.</p>
                     <p>장시간 금식이 어려울 경우,</p>
                     <p><span class="byline2"> 검진 당일 오전 6시 이전에 가벼운 식사(죽, 국물종류)는 가능</span></p>
                     <p>술·육류·기름진 음식 등은 검사 결과에 영향을 줄 수 있으므로 금합니다.</p>
                     <br>


                     <span class="byline4">2) 채변</span>
                     <br>
                     <br>
                     <p>대변은 검사 전날 혹은 당일 아침에 콩알 크기로 받아서 대변통에 담아옵니다 .</p>
                     <br>

                     <span class="byline4">3) 약 복용 고객</span>
                     <br>
                     <br>
                     <p><span class="byline2">혈압약, 당뇨약, 고지혈증약, 심장혈관약, 신경과약을 복용 중이신 고객님</span>께서는 아스피린 또는 항 혈액응고제의 포함 여부를
                        확인하시기 바랍니다.</p>
                     <p>혈압약은 검사 당일 아침 6시이전 소량의 물과 함께 복용하시고, 당뇨약(인슐린주사)은 건강검진 당일 아침에는 저혈당의 위험이 있으므로 복용하지말고 오십시오.</p>
                     <p><span class="byline3">항 혈액응고제 : </span></p>
                     <p>내시경 조직 검사 또는 용종 절제술 시 지혈에 영향을 줄 수 있으므로</p>
                     <p><span class="byline2"> 예약 시 상담 간호사와 상의하시고 반드시 건강검진 7일 전부터 복용을 금합니다.</span></p>
                     <p>단, 치료목적으로 반드시 복용 하셔야 하는 고객님께서는 지속적으로 복용하시고 건강검진 당일 말씀해 주시기 바랍니다.</p>
                     <p>*항 혈액응고제 : 아스피린, 쿠마딘, 와파린, 티클로피딘, 클로피도그렐, 디피리다몰,CT 메타포민 제제등</p>
                     <p></p>
                     <br>

                     <span class="byline4">4) 여성고객</span>
                     <br>
                     <br>
                     <p><span class="byline2">건강진단일은 생리가 끝난 이틀 후가 좋습니다.</span> 건강검진은 생리 기간중에는 가능한 피해주십시오.</p>
                     <p>=> 생리 중일 경우 검사가 불가능한 것은 아니지만 자궁경부암 검사, 인유두종바이러스검사, 대변검사, 소변검사 등의 결과가 부정확 할 수도 있습니다.</p>
                     <p>생리로 인해 시행하지 못하는 검사는 추후(6개월이내) 방문하여 검사 받으실 수 있습니다.</p>
                     <br>
                     <p><span class="byline2"> 검사 전 임신여부 확인이 반드시 필요합니다.</span></p>
                     <p>건강검진 중 방사선 노출에 의한 태아의 위험을 피하고, </p>
                     <p>내시경 검사 전처치 약사용 및 임신주수에 따라 검사결과의 참고치가 달라질 수 있으므로 반드시 직원과 상의하여 주십시오. </p>
                     <p>* 방사선촬영 검사항목 : 위장조영, 유방촬영, 치과촬영, 흉부촬영, 골밀도, CT)</p>
                     <br>
                     <p><span class="byline2">수유 중에는 유방검사 결과가 부정확할 수 있으므로 직원에게 미리 말씀해 주십시오.</span></p>
                     <br>
                     <p><span class="byline2">자궁경부암 검사 예약 고객님</span>께서는 검사 시행 24~48시간 전부터 부부관계 및 질 세척을 삼가하시고,</p>
                     <p>1주일 전부터는 질정이나 질크림 등의 사용을 중단하셔야 합니다.</p>
                     <p>자궁경부의 조직이 약하거나, 염증이 있을 경우 자궁경부암 검사 후 속옷에 묻을 정도의 출혈이 있을 수 있습니다.</p>
                     <p></p>

                  </header>
               </section>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="4u">
               <section>
                  <header>
                     <h2>암 검진 뉴스</h2>
                     <span class="byline">Naver News</span>
                  </header>
                  <ul class="style1">
                     <li class="first">
                        <p class="date"><a href="#">May<b>26</b></a></p>
                        <p><a href="https://www.ytn.co.kr/_ln/0103_201905260008238105">일반 건강검진 만40세 이상에서 만20세 이상으로 확대</a></p>
                     </li>
                     <li>
                        <p class="date"><a href="#">May<b>27</b></a></p>
                        <p><a href="http://www.kmedinfo.co.kr/news/articleView.html?idxno=55497">“‘자궁경부암 진단 키트' 편의점에서 판다”는 보도에 우려하며</a></p>
                     </li>
                     <li>
                        <p class="date"><a href="#">May<b>27</b></a></p>
                        <p><a href="http://www.anewsa.com/detail.php?number=1772304&thread=09r02">2019년 일반건강검진 대상자 및 검진내용…건강 검진 전 주의사항</a></p>
                     </li>
                  </ul>
                  <a href="#" class="button">More Details</a>
               </section>
            </div>
         </div>

      </div>
   </div>
</div>
<!-- /Main -->

<!-- Footer -->
<div id="footer">
   <div class="container">

      <div class="row">
         <section class="4u">
            <header>
               <h2>암 정보 사이트</h2>
            </header>
            <ul class="default">
               <li class="first"><a href="https://www.cancer.go.kr/" target="_blank">국가암정보센터</a></li>
               <li><a href="http://www.ncc.re.kr/index" target="_blank">국립암센터</a></li>
               <li><a href="https://www.gov.kr/portal/locgovNews/1726483" target="_blank">2019년 국가암검진안내|정부24</a></li>


            </ul>
         </section>
         <section class="4u">
            <header>
               <h2>암검진권고안(일반인)_eBook</h2>
            </header>
            <ul class="default">
               <li class="first"><a
                     href="https://www.cancer.go.kr/docview/preview.do?uuid=8fe93583-56c8-415c-91bc-902482be0ec2.pdf"
                     target="_blank">검진궈고안_위암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=6879679c-09ea-4142-9829-1e08d5f1a310.pdf"
                     target="_blank">검진궈고안_대장암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=f044aa67-ca5b-4806-98c2-b5be67c8173b.pdf"
                     target="_blank">검진궈고안_간암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=4b350c37-36c5-4793-ae0b-a0eae905e6ce.pdf"
                     target="_blank">검진궈고안_폐암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=58d7aa0b-f1c8-46c0-b275-2e78cea0df47.pdf"
                     target="_blank">검진궈고안_유방암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=31eb712e-bbf4-44a6-9c17-7510cabc7288.pdf"
                     target="_blank">검진궈고안_자궁경부암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=f054017b-e531-41ec-aa1d-be0f32551598.pdf"
                     target="_blank">검진궈고안_갑상선암</a></li>
            </ul>
         </section>
         <section class="4u">
            <header>
               <h2>국가 암 지원 사업</h2>
            </header>
            <ul class="default">
               <li class="first"><a href="https://www.gov.kr/portal/service/serviceInfo/341000000014" target="_blank">암
                     환자 의료비 지원|정부서비스|정부24</a></li>
               <li><a href="http://www.bokjiro.go.kr/welInfo/retrieveGvmtWelInfo.do?searchIntClId=01&welInfSno=162"
                     target="_blank">암 환자 의료비 지원|복지r</a></li>

            </ul>
         </section>
      </div>
   </div>
</div>
<!-- /Footer -->

<!-- Copyright -->
<div id="copyright">
   <div class="container">
      Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
         href="http://unsplash.com/cc0">CC0</a>)
   </div>
</div>