<style>
#content{
   text-align: center;
}
h2, p, span, a {
   font-weight:bold; 
   font-family: 'Nanum Gothic', sans-serif;
}
</style>


<!-- Main -->
<div id="main-wrapper">
   <div id="main">
      <div class="container">
            <div id="content">
                  <header>
                     <h2>암검진</h2>
                     <span class="byline">조기발견 및 조기치료가 용이한 위암, 대장암, 간암, 갑상선암, 폐암, 유방암, 자궁경부암 검진을 실시</span>
                  </header>
                  <p></p>
                  <a class="button" (click)="onSubmit()">검사 실시</a>
            </div>
      </div>
   </div>
</div>

<!-- Footer -->
<div id="footer">
   <div class="container">
      <div class="row">

         <section class="4u">
            <header>
               <h2>암 정보 사이트</h2>
            </header>
            <ul class="default">
               <li class="first"><a href="https://www.cancer.go.kr/" target="_blank">국가암정보센터</a></li>
               <li><a href="http://www.ncc.re.kr/index" target="_blank">국립암센터</a></li>
               <li><a href="https://www.gov.kr/portal/locgovNews/1726483" target="_blank">2019년 국가암검진안내|정부24</a></li>
            </ul>
         </section>

         <section class="4u">
            <header>
               <h2>암검진권고안(일반인)_eBook</h2>
            </header>
            <ul class="default">
               <li class="first"><a
                     href="https://www.cancer.go.kr/docview/preview.do?uuid=8fe93583-56c8-415c-91bc-902482be0ec2.pdf"
                     target="_blank">검진궈고안_위암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=6879679c-09ea-4142-9829-1e08d5f1a310.pdf"
                     target="_blank">검진궈고안_대장암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=f044aa67-ca5b-4806-98c2-b5be67c8173b.pdf"
                     target="_blank">검진궈고안_간암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=4b350c37-36c5-4793-ae0b-a0eae905e6ce.pdf"
                     target="_blank">검진궈고안_폐암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=58d7aa0b-f1c8-46c0-b275-2e78cea0df47.pdf"
                     target="_blank">검진궈고안_유방암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=31eb712e-bbf4-44a6-9c17-7510cabc7288.pdf"
                     target="_blank">검진궈고안_자궁경부암</a></li>
               <li><a href="https://www.cancer.go.kr/docview/preview.do?uuid=f054017b-e531-41ec-aa1d-be0f32551598.pdf"
                     target="_blank">검진궈고안_갑상선암</a></li>
            </ul>
         </section>

         <section class="4u">
            <header>
               <h2>국가 암 지원 사업</h2>
            </header>
            <ul class="default">
               <li class="first"><a href="https://www.gov.kr/portal/service/serviceInfo/341000000014" target="_blank">암
                     환자 의료비 지원|정부서비스|정부24</a></li>
               <li><a href="http://www.bokjiro.go.kr/welInfo/retrieveGvmtWelInfo.do?searchIntClId=01&welInfSno=162"
                     target="_blank">암 환자 의료비 지원|복지r</a></li>
            </ul>
         </section>

      </div>
   </div>
</div>
<!-- /Footer -->


<!-- Copyright -->
<div id="copyright">
   <div class="container">
      Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
         href="http://unsplash.com/cc0">CC0</a>)
   </div>
</div>